* {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-primary: #f15156;
  --bg-secondary: #ffffff;
}

/*HOME SECTION*/
/*HEADER*/

.logo {
  height: 3.5rem;
  width: 13rem;
  z-index: 100;
}

header {
  background: #e44449;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;  
}

/*MENU*/

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1.2rem;
  right: 2rem;
  padding: 0.3rem;
  border: 0;
  border-radius: 0.8rem;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #e44449;
  color: #ffffff;
  list-style: none;
  padding-top: 4rem;
}

.menu a {
  text-decoration: none;
  color: #eeeeee;
}

.menu a:hover {
  color: #ffffff;
}

.menu a + a {
  margin: 1rem;
}

.showMenu {
  transform: translateY(0);
  width: 40rem;
  height: 38rem;
  padding: 7.2rem 2.5rem 0;

  border-radius: 0 0 2rem 2rem;
}

#line {
  position: absolute;
  width: 30rem;
  height: 0;

  opacity: 0.2;
  border: 1px solid #ffffff;
}

.showMenu li {
  font-size: 1.8rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  margin-top: 3rem;
}

/*MAIN*/

main {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
}

#home {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

#friends-img-app {
  height: 5.1rem;
  width: 16.7rem;
  margin: 3.2rem 2rem 3.5rem;
}

#friends-img-desktop {
  margin: 0;
  width: 0;
  height: 0;
}

h1 {
  margin: 0 2rem 5rem;
  width: 33rem;
  height: 15rem;

  font-weight: 700;
  font-size: 4.5rem;
  line-height: 4.8rem;
  color: #ffffff;
}

#home label p {
  color: #f15156;
  margin: 0;
}

/*CARDS-HOME*/

.cards-home {
  display: flex;
  justify-content: center;
}

#card-primary {
  width: 27.9rem;
  height: 22.7rem;
  margin-bottom: 4.8rem;

  background: linear-gradient(153.09deg, #f36a6f 17.23%, #e44449 73.77%);
  border-radius: 2rem;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

#dog {
  position: absolute;
  top: 32.3rem;
  width: 25.9rem;
  height: 40.7rem;
}

.join-button {
  position: absolute;
  width: 23.9rem;
  height: 5.5rem;
  top: 60.8rem;
  border: 0;

  background: #ffffff;
  border-radius: 8px;
}

.join-button span {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;

  color: #0d3b66;
}

/*ABOUT SECTION*/

#about {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*ABOUT HEADER*/

#about h2 {
  width: 32.5rem;
  height: 9rem;
  margin: 7rem 2rem 2rem;

  font-weight: 700;
  font-size: 3.5rem;
  line-height: 110%;
  letter-spacing: -0.02em;

  color: #0d3b66;
}

/*ABOUT BOX-CONTENT*/

#card-01,
#card-02,
#card-03 {
  width: 32rem;
  height: 19.7rem;

  background: #fdeced80;
  border: 1px solid #f151561c;
  border-radius: 20px;
  margin: 0 2rem 1rem;
}

#card-01 img,
#card-02 img,
#card-03 img {
  padding: 3rem 0 0 1.3rem;
}

#about p {
  width: 22.3rem;
  height: 9.1rem;
  margin: 2.6rem 6.7rem 3rem 3rem;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #000000;
}

#about b {
  font-weight: 800;
  color: #000000;
}

/*ABOUT FRIENDS-MAP*/

#friends-map {
  position: absolute;
  top: 163rem;
  width: 100%;
  height: auto;

}

#friends-map-desktop {
  display: none;
}

#bg-friends-map {
  top: 0;
  width: 40rem;
  height: 40rem;
  margin-top: 7rem;
  background-color: #fdeced80;
}

/*-----------------*/
/* SECTION FRIENDS */
/*-----------------*/

#friends {
  background-color: var(--bg-secondary);
}

#bg-friends-section { 
  width: 35rem;
  height: 82rem;

  margin: 2rem;

  background: #F15156;
  border-radius: 20px;
}

#friends h2 {
  position: absolute;
  width: 25rem;
  height: 8rem;
  left: 7rem;
  top: 220rem;

  font-size: 3rem;
  line-height: 90%;

  text-align: center;
  letter-spacing: -0.02em;

  color: #F4D35E;
}

#friends p {
  position: absolute;
  width: 26rem;
  height: 15rem;
  left: 7rem;
  top: 232rem;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 110%;

  letter-spacing: -0.02em;

  color: #FFFFFF;
}

.join-button-friends {
  position: absolute;
  width: 26rem;
  height: 5.5rem;
  left: 7rem;
  top: 248rem;
  border: 0;

  background: #ffffff;
  border-radius: 8px;
}

.join-button-friends span {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;

  color: #0d3b66;
}

#friends .swiper {
  position: absolute;
  top: 257rem;
  left: 6rem;
  width: 31rem;
  height: 25rem;
}

.swiper-slide img {
  width: 25rem;
  height: 25rem;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-slide {
    flex-shrink: unset;
    margin-left: 1rem;
    margin-right: 1rem;
} 

.swiper-pagination {
  display: none;
}

/*-------------*/
/* SECTION ORG */
/*-------------*/

#org {
  background-color: var(--bg-secondary);
}

#org h2 {
  width: 20rem;
  height: 8rem;
  margin: 5rem 2rem 2rem;

  font-size: 3rem;
  line-height: 110%;

  text-align: left;
  letter-spacing: -0.02em;

  color: #0D3B66;
}

#org p {
  position: absolute;
  width: 32rem;
  height: 16rem;
  margin-left: 2rem;

  font-weight: 400;
  font-size: 2rem;
  line-height: 110%;

  letter-spacing: -0.02em;

  color: #0D3B66;
}

#org .swiper {
  position: absolute;
  top: 330rem;
  width: 35rem;
  height: 25rem;
}

/*-----------------*/
/* SECTION CONTACT */
/*-----------------*/

#bg-contact {
  box-sizing: border-box;

  position: absolute;
  width: 34rem;
  height: 30rem;
  left: 2rem;
  top: 360rem;

  background: #0D3B66;
  border-radius: 10px;
}

#card-contact-1 {
  position: absolute;
  width: 22rem;
  height: 6.2rem;
  left: 2.5rem;
  top: 360rem;
}

#card-contact-2 {
  position: absolute;
  width: 19.4rem;
  height: 13.6rem;
  left: 16.5rem;
  top: 359rem;
}

#contact h2 {
  position: absolute;
  width: 15rem;
  height: 9rem;
  left: 5rem;
  top: 370rem;

  font-weight: 700;
  font-size: 3rem;
  line-height: 110%;

  letter-spacing: -0.02em;

  color: #FFFFFF;
}

#contact a img {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 5rem;
  top: 382.7rem;
}

#contact label {
  position: absolute;
  width: 19rem;
  height: 1.5rem;
  left: 7.8rem;
  top: 383rem;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 110%;

  letter-spacing: -0.02em;

  color: #F4D35E;
}

/*-----------------*/
/* SECTION FOOTER */
/*-----------------*/

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  top: 395rem;

  width: 100%;
  height: 17rem;

  background-color: var(--bg-primary);
}

footer #logo-mobile {
  margin: 4rem 18rem 5rem;
}

footer #logo-desktop {
  display: none;
}

footer h3 {
  text-align: center;
}


/*--------------------*/
/*   LAYOUT DESKTOP   */
/*--------------------*/


@media (min-width: 40em) {

  header {
    position: fixed;
    z-index: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15rem;

    padding: 1rem;

    width: 100%;
    height: auto;
    background-color: #f15156;
  }

  .logo {
    width: 15rem;
    height: 4rem;
  }

  .hamburger {
    display: none;
  }

  .menu {
    position: relative;
    top: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;

    margin-right: 4rem;

    font-size: 1.6rem;
    width: auto;
    height: auto;

    background-color: var(--bg-primary);
  }

  #line {
    display: none;
  }

  /*--------------*/
  /* SECTION HOME */
  /*--------------*/

  main {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  #home {
    margin-top: 10rem;
    background-color: var(--bg-primary);
  }

  #friends-img-app {
    display: none;
  }

  #friends-img-desktop {
    width: 29rem;
    height: 3.5rem;
    margin-left: 8rem;
  }

  h1 {
    margin: 5rem 0 3rem 9rem;

    width: 45rem;
    height: 23rem;

    font-weight: 700;
    font-size: 5.5rem;
    line-height: 110%;
    letter-spacing: -0.02em;
  }

  #home label p {
    width: 40rem;
    height: 6rem;
    margin: 0 0 5rem 9.5rem;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 3.4rem;
    color: #ffffff;
  }

  /*CARDS-HOME*/

  #card-primary {
    position: absolute;
    width: 50rem;
    height: 30rem;
    left: 67rem;
    top: 15rem;
  }

  #card-secondary {
    position: absolute;
    width: 50rem;
    height: 10rem;
    left: 67rem;
    top: 47rem;

    background: #e44449;
    border-radius: 2rem;
  }

  #card-aside {
    position: absolute;
    width: 15rem;
    height: 42rem;
    left: 119rem;
    top: 15rem;

    margin-right: 0;
    background: #e44449;
    border-radius: 2rem 0 0 2rem;
  }

  #dog {
    position: absolute;
    width: 31.5rem;
    height: 50rem;
    left: 75rem;
    top: 1rem;
  }

  .join-button {
    position: absolute;
    width: 40rem;
    height: 6rem;
    left: 72.5rem;
    top: 49rem;
    border: 0;

    background: #ffffff;
    border-radius: 8px;
  }

  .join-button span {
    font-size: 2rem;
  }

  /*---------------*/
  /* SECTION ABOUT */
  /*---------------*/

  #about {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-secondary);

    width: 100%;
  }

  #about h2 {
    font-size: 4rem;
    position: absolute;
    width: 40.5rem;
    height: 10.6rem;
    left: 80rem;
    top: 88rem;
  }

  #friends-map {
    display: none;
  }

  #friends-map-desktop {
    display: flex;
    position: absolute;
    width: 63.6rem;
    height: 70.6rem;
    left: 5rem;
    top: 99rem;
  }

  #bg-friends-map {
    box-sizing: border-box;

    position: relative;
    width: 64rem;
    height: 75rem;
    left: 5rem;
    top: 7rem;

    background: linear-gradient(180deg, #FDECED 0%, rgba(253, 236, 237, 0) 100%);
    opacity: 0.5;
    border-radius: 20px;
  }

  /*CARDS-ABOUT*/

  .cards-about {
    position: absolute;
    width: 60rem;
    height: 45rem;
    left: 70rem;
    top: 110rem;
  }

  #card-01 {
    position: absolute;
    width: 28rem;
    height: 19rem;
    top: 0rem;
  }

  #card-02 {
    position: absolute;
    width: 28rem;
    height: 19rem;
    left: 30rem;
    top: 0rem;
  }

  #card-03 {
    display: flex;
    position: absolute;
    width: 58rem;
    height: 25rem;
    top: 21rem;

    justify-content: space-around;
    flex-direction: column;
  }

  #card-01 img,
  #card-02 img,
  #card-03 img {
    width: 3rem;
    padding: 0;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  #card-03 p {
    width: 50rem;
  }

  /*-------------------*/
  /*  SECTION FRIENDS  */
  /*-------------------*/

  #bg-friends-section {
    position: absolute;
    width: 121.6rem;
    height: 62.8rem;
    left: 3rem;
    top: 170rem;

    background: #F15156;
    border-radius: 20px;
  }

  #friends h2 {
    position: absolute;
    width: 41.6rem;
    height: 12.9rem;
    left: 14rem;
    top: 180rem;
    text-align: left;
      
    font-size: 4.8rem;
    line-height: 90%;

    letter-spacing: -0.02em;
  }

  #friends p {
    position: absolute;
    width: 50rem;
    height: 12rem;
    left: 65rem;
    top: 180rem;

    font-weight: 400;
    font-size: 20px;
    line-height: 110%;

    letter-spacing: -0.02em;
  }

  .join-button-friends {
    position: absolute;
    width: 23.1rem;
    height: 7.2rem;
    left: 14rem;
    top: 207rem;
  }

  #friends .swiper {
    position: absolute;
    z-index: 0;
    width: 45rem;
    height: 35rem;
    left: 65.6rem;
    top: 195rem;
  }

  #friends .swiper-pagination {
    display: flex;
    position: absolute;
    width: 5rem;
    height: 2rem;
    left: 65rem;
    top: 220rem;
  }

  #friends .swiper-slide img {
    width: 45rem;
    height: 20rem;
  }

  #friends .swiper-button-prev,
  #friends .swiper-button-next {
    display: flex;
    width: auto;
  }

  #friends .swiper-slide {
      flex-shrink: 1;
  } 

  /*-------------*/
  /* SECTION ORG */
  /*-------------*/

  #org {
    background-color: var(--bg-secondary);
  }

  #org h2 {
    position: absolute;
    width: 41.6rem;
    height: 8.6rem;
    left: 11.2rem;
    top: 240rem;

    font-weight: 700;
    font-size: 4.8rem;
    line-height: 90%;

    letter-spacing: -0.02em;

    color: #0D3B66;
  }

  #org p {
    position: absolute;
    width: 69.2rem;
    height: 6.6rem;
    left: 47rem;
    top: 247rem;

    font-weight: 400;
    font-size: 2rem;
    line-height: 110%;
    
    letter-spacing: -0.02em;

    color: #0D3B66;
  }

  #org .swiper {
    display: none;
  }


  /*-----------------*/
  /* SECTION CONTACT */
  /*-----------------*/

  #bg-contact {
    box-sizing: border-box;

    position: absolute;
    width: 34rem;
    height: 30rem;
    left: 2rem;
    top: 360rem;

    background: #0D3B66;
    border-radius: 10px;
  }

  #card-contact-1 {
    position: absolute;
    width: 22rem;
    height: 6.2rem;
    left: 2.5rem;
    top: 360rem;
  }

  #card-contact-2 {
    position: absolute;
    width: 19.4rem;
    height: 13.6rem;
    left: 16.5rem;
    top: 359rem;
  }

  #contact h2 {
    position: absolute;
    width: 15rem;
    height: 9rem;
    left: 5rem;
    top: 370rem;

    font-weight: 700;
    font-size: 3rem;
    line-height: 110%;

    letter-spacing: -0.02em;

    color: #FFFFFF;
  }

  #contact a img {
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 5rem;
    top: 382.7rem;
  }

  #contact label {
    position: absolute;
    width: 19rem;
    height: 1.5rem;
    left: 7.8rem;
    top: 383rem;

    font-weight: 400;
    font-size: 1.4rem;
    line-height: 110%;

    letter-spacing: -0.02em;

    color: #F4D35E;
  }

  /*-----------------*/
  /* SECTION FOOTER */
  /*-----------------*/

  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    top: 395rem;

    width: 100%;
    height: 17rem;

    background-color: var(--bg-primary);
  }

  footer #logo-mobile {
    margin: 4rem 18rem 5rem;
  }

  footer #logo-desktop {
    display: none;
  }

  footer h3 {
    text-align: center;
  }
}